.grid-widget{
	display: none;
	height: 100vh;
	pointer-events: none;
	position: fixed;
		top: 0;
		left: 5vw;
	width: calc(100vw - 10w + 2em);
	z-index: 1000;

	&.is-active{
		display: flex;
	}

	.row{
		width: 100%;
	}

	.col-xs-1{
		position: relative;

		span{
			background: rgba(0, 0, 0, 0.2);
			color: transparent;
			display: block;
			height: 100%;
			text-align: center;
		}
	}
}